

.box4{
    width: 28%;
    min-width: 100px;
    min-height: 32px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

@media (max-width:900px){
    .box4{
        width: 48%;
    }
}

@media (max-width:600px){
    .box4{
        width: 100%;
    }
}