
.box2{
    width: 29%;
    min-height: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleClientCode{
    font-family: Roboto,sans-serif!important;
    color: rgba(0,0,0,.65); 
    font-size: 14px;
}

@media (max-width:600px){
    .box2{
        width: 100%;
    }
}