


.box6{
    width: 20%;
    background-color: rgb(48, 52, 44);
    min-width: 80px;
    min-height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:600px){
    .box6{
        width: 50%;
    }
}